 #root {
  background-color: #EEEEEE;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 


#web{
  background-color: aqua;
  width: 1250px;
  height: 100%;
}