#root {
  background-color: #0C101B;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
} 


#web{
  background-color: aqua;
  width: 1050px;
  height: 100%;
  box-sizing: border-box; 
}